<!DOCTYPE html>
<html>
<head>
  <title>Sample</title>
  <style type="text/css" href="./style.scss"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>

  <nav class="#e57373 red lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">MiniAppBlog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

          <% if user_signed_in? %>
        <li>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
        <li><a href="/miniapp/new">ブログを書く</a></li>
          <% else %>
        <li>
          <%= link_to "Login",new_user_session_path,class: 'post' %>
          </li>
        <li>
          <%= link_to "Register", new_user_registration_path, class: 'post' %>
          s</li>
          <% end %>
      </ul>
    </div>
  </nav>


     <% @blogs.each do |blog| %>
     <% if user_signed_in? && current_user.id == blog.user_id %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card white">
            <div class="card-content blue-text">
              <p><%= blog.text %></p>
                <span><%= time_ago_in_words(blog.created_at) %>前に投稿</span>
            </div>
            <div class="card-action">
              <a href="/users/<%= current_user.id %>">詳細</a>

              <%= link_to '編集', "/miniapp/#{blog.id}/edit", method: :get %>

              <%= link_to '削除', "/miniapp/#{blog.id}", method: :delete %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <%= paginate(@blogs) %>

<script type="text/javascript" src="./app.js"></script>
</body>
</html>
